<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>  <!-- refer to 'tilte' in '_config.yml' -->
	  <li>{{ site.job }}</li>  <!-- refer to 'job' in '_config.yml' -->
          <li><a class="footer-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>  <!-- refer to 'email' in '_config.yml' -->
	  <li> <a class="footer-link" href="tel:852-5374-4648">+852 5374 4648</a> </li>  <!-- define telephone number -->
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
         <p class="text">
		Rm 4222, Academic Building <br />  <!-- define corresponding address -->
		The Hong Kong University of Science and Technology <br />	
		Hong Kong, China </p>
      </div>

      <div class="footer-col  footer-col-3">
	<!---
	<p class="footer-text" style="text-align:center;"> Links </p>
	--->
	<ul class="github-list">
         <li class="github"> <a class="footer-link" href="https://github.com/HarryBinary">Github</a> </li>  <!-- refer to Github link -->
	</ul>
	<ul class ="linkedin-list">
	 <li class="linkedin"> <a class="footer-link" href="https://www.linkedin.com/in/shuaibin-wan-66505b170/">LinkedIn</a> </li>	 <!-- refer to Linkedin link -->
	</ul>
	<ul class="scholar-list">
	 <li class="scholar"> <a class="footer-link" href="https://scholar.google.com/citations?user=UxMIMugAAAAJ&hl=en">Google Scholar</a> </li>  <!-- refer to Google Scholar link -->
	</ul>
      </div>




<!--
       <ul class="social-media-list">

	{% if site.github_username %}
	 <li>
<a class="footer-link" href="https://github.com/{{ site.github_username }}">
<i class="fa fa-github" style="color:$steel"></i> Github
	 </a>
	 </li>
	{% endif %}

	{% if site.orcid_id %}
	 <li>
<a class="footer-link" href="https://orcid.org/{{ site.orcid_id }}">
<i class="ai ai-orcid" style="color:$steel"></i> ORCID
	 </a>
	 </li>
	{% endif %}

	{% if site.linkedin_username %}
	 <li>
<a class="footer-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">
<i class="fa fa-linkedin style="color:$steel"></i> LinkedIn
	 </a>
	 </li>
	{% endif %}
       
        </ul>
-->   

     </div>
    </div>
  </div>
</footer>
