<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">  <!--define language-->

  {%- include head.html -%}  <!--refer to head.html in '_includes' folder-->

  <body>

    {%- include header.html -%}  <!--refer to 'header.html' in '_includes' folder-->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}  <!--refer to 'footer.html' in '_includes' fodler-->

  </body>

</html>
